@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Welcome to Movie Best</h1>
    <h3>The way to be happy</h3>
    <h3>Get movies review </h3>

    
</div>
